body {
    background-color: rgb(196, 183, 201);
}

h1 {
    color: aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 450px;
}

h2 {
    color: rgb(131, 15, 104);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 150px;
}

a {
    color: rgb(16, 70, 205);
}

a:hover {
    background-color: rgb(90, 62, 62);
}

img {
    width: 450px;
    margin-left: 500px;
}

.smalltxt {
    font-size: 3%;
}

@font-face {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}